<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="sourcedirectory" value="C:\Source"/>
    <add key="destinationdirectory" value="C:\Destination"/>

    
    
    <!-- AWS S3-->
    <add key="accesskey" value="AKIAJXDBYY5QX3MJ7BHA"/>
    <add key="secretkey" value="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"/>
    <add key="s3marcbucketname" value="webmarket-marc"/>
  </appSettings>
  <connectionStrings>
    <add name="marc" connectionString="Data Source=52.22.28.126;Initial Catalog=Ingestion;User ID=boston_reader;Password=Re7Aa12345678!#;Connection Timeout=3200" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
